body{
    text-align: center;
    background-color: darkgrey;
}

h1{
    color: white;
}

.button{
    border: none;
    padding: 15px 25px;
    background-color: yellowgreen;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}